<h1> Registration </h1>

<form action='/newuser' method='POST'>
  <label for='username'>
    username:
    <input type='text' name='username' />
  </label>
  <label for='email'>
    E-mail:
    <input type='text' name='email' />
  </label>
  <label for='password'>
    Password:
    <input type='password' name='password' />
  </label>
  <label for='confirm password'>
    Confirm password:
    <input type='password' name='password confirmation' />
  </label>
  <input type='submit' value='signup'>

</form>
