<form action='/sign_up' method="POST">
  <label for="email_address">
    Email adress
    <input type="text" name="email_address">
  </label>
  <label>
    Password
    <input type="password" name="password">
  </label>
  <input type="submit" value='sign up'>
</form>
